@{
    Layout = null;
}
@using NurseCourse.Models.DTOs



<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../Css/style.css">

    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="container my-5">
        
        <div class="row justify-content-center">
            <h1 style="color: burlywood; font-family: Oswald; font-size:400%;">B I E N V E N I D O</h1>
        </div>
        <div class="row justify-content-center">
            <h3 style="color: burlywood; font-family: Oswald; font-size:200%;">Inicio de sesión en tu cuenta</h3>
        </div>
        <div class="row justify-content-center">
            <label style="color: bisque; font-family: Oswald; font-size:150%;">¿Tienes una cuenta? Inicia sesión aquí</label>
        </div>
        
        <div class="row justify-content-center; container;">
            <div class="left">
                <img src="\Resources\img\login1.png" />
            </div>
            <div class="col-md-6; right">
                <div class="card-body">
                    <form asp-action="Login" asp-controller="Access" method="post">
                        <div class="form-group">
                            <label style="color: bisque; font-family: Oswald; font-size:22px;" for="CorreoElectronico">Correo Electrónico:</label>
                            <input type="email" id="CorreoElectronico" name="CorreoElectronico" class="form-control" required placeholder="Ingrese su correo electrónico">
                        </div>
                        <div class="form-group">
                            <label style="color: bisque; font-family: Oswald; font-size:22px;" for="Contraseña">Contraseña:</label>
                            <input type="password" id="Contraseña" name="Contraseña" class="form-control" required placeholder="Ingrese su contraseña">
                        </div>
                        <input style="color: #4F3803; font-family: Oswald; font-size:20px; background-color:tan; border-color:tan" type="submit" class="btn btn-primary btn-block" value="Iniciar sesión" />
                    </form>
                    <div class="mt-3 d-flex justify-content-between">
                        <button style="color: #4F3803; font-family: Oswald; font-size:20px; background-color:tan; border-color:tan;"
                                class="btn btn-primary"
                                data-id=""
                                data-toggle="modal"
                                data-target="#modalEmail">
                            ¿Has olvidado tu contraseña?
                        </button>

                        <a class="btn" style="color: #4F3803; font-family: Oswald; font-size:20px; background-color:tan; border-color:tan;" asp-action="Register" asp-controller="Access">Registrarse</a>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEmail">
        <div class=" modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold">Recuperación de contraseña</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form>
                                <div class="form-group">
                                    <label for="txtName" class="control-label">Correo electrónico:</label>
                                    <input type="text" id="txtEmail" class="form-control" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center modal-footer">
                    <button type="button" class="btn btn-success" onclick="recoveryPassword()" data-dismiss="modal">Solicitar token</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            const txtEmail = document.getElementById('txtEmail');

            function recoveryPassword() {
                let email = txtEmail.value;
                fetch(`/Access/PasswordRecovery?email=${email}`)
                .then(res => {
                    if(res.redirected){
                        window.location.href = res.url;
                    }
                })
                .catch(err => console.error(err))
            }
        </script>
    }
</body>
</html>
