@{
    Layout = null;
}
@using NurseCourse.Models.DTOs

@model RegistroUsuarioDto
<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../Css/style.css">

    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="container my-5">

        <div class="row justify-content-center">
            <h1 style="color: burlywood; font-family: Oswald; font-size:80px;">R E G I S T R O</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-body">
                    <form asp-action="Register" asp-controller="Access">
                        <div class="form-group">
                            <label style="color: bisque; font-family: Oswald; font-size:22px;" for="Nombre">N o m b r e:</label>
                            <input asp-for="Nombre" type="text" class="form-control" required placeholder="Ingrese su nombre">
                        </div>
                        <div class="form-group">
                            <label style="color: bisque; font-family: Oswald; font-size:22px;">C o r r e o   E l e c t r ó n i c o:</label>
                            <input asp-for="CorreoElectronico" type="text" class="form-control" required placeholder="Ingrese su correo electrónico">
                        </div>
                        <div class="form-group">
                            <label style="color: bisque; font-family: Oswald; font-size:22px;">C o n t r a s e ñ a:</label>
                            <input asp-for="Contraseña" type="password" class="form-control" required placeholder="Ingrese su contraseña">
                        </div>
                        <div class="form-group">
                            <label style="color: bisque; font-family: Oswald; font-size:22px;">Edad:</label>
                            <input asp-for="Edad" type="number" class="form-control" required placeholder="Ingrese su edad">
                        </div>
                        <div class="form-group">
                            <label style="color: bisque; font-family: Oswald; font-size:22px;">Cargo:</label>
                            <input asp-for="Cargo" type="text" class="form-control" required placeholder="Ingrese su cargo">
                        </div>
                        <div class="form-group">
                            <label style="color: bisque; font-family: Oswald; font-size:22px;">RolId:</label>
                            <input asp-for="RolId" type="number" class="form-control" required placeholder="Ingrese su RolId">
                        </div>
                        <input style="color: #4F3803; font-family: Oswald; font-size:20px; background-color:tan; border-color:tan;" type="submit" value="Registrarse" class="btn btn-primary btn-block" />
                    </form>
                    <div class="mt-3 d-flex justify-content-between">
                        <a class="btn" style="color: #4F3803; font-family: Oswald; font-size:20px; background-color:tan; border-color:tan;" asp-action="Login" asp-controller="Access">Iniciar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
