@using NurseCourse.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Utiliza este layout si tienes uno, o define null para no usar ningún layout
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #F5F5F5;
            background-size: cover;
            background-blend-mode: darken;
        }
        .animation:hover {
          transform: translateY(-3px);
          border-bottom: 3px solid ;
          background-color: #dbdbdb;
          transition: transform 0.2s;
        }
        .titlenurse {
            background-color: #D9D9D9;
            display: flex;
            padding: 10px;
            padding-left: 15px;
            width: 100%;
            flex-direction: row;
            align-items: center;
        }
        form {
            background-color: #F5F5F5;
            padding: 20px;
            width: 500px;
        }
        .imgsection {
            display: flex;
            justify-content: flex-end;
            margin-left: auto; 
        }
        .subtitle {
            padding: 2%;
            background-color: black;
            color: white;
            width: 600px;
        }
        .container {
            flex-direction: column;
            display: flex;
        }
    </style>
</head>
<body>
<div class="titlenurse">
    <h1 class="">Lista de cursos</h1>
    <div class="imgsection"><img src="https://cdn.icon-icons.com/icons2/3005/PNG/512/modules_apps_icon_188198.png" alt="Curso" style="width: 100px; height: 100px;"></div>
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var users in Model)
    {
        <tr class="animation">
            <td>@users.usuarioId</td>
            <td>@users.nombre</td>
            <td>@users.correoElectronico</td>
            <td><a href="@Url.Action("DetallesCurso", "Nurse", new { id = users.usuarioId })"><button type="button" class="btn btn-primary">Ver modulos</button></a></td>
        </tr>
    }
    </tbody>
</table>
<script>
    var valor = sessionStorage.getItem('UserRole');
      console.log("UserRole:"+valor);
      if(valor == 1){
        console.log("eres user, fuera de aqui");
        window.location.href = "http://localhost:5053/Student/Index";
      }
</script>
</body>
</html>