@using NurseCourse.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Utiliza este layout si tienes uno, o define null para no usar ningún layout
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #F5F5F5;
            background-size: cover;
            background-blend-mode: darken;
        }
        .animation:hover {
          transform: translateY(-3px);
          border-bottom: 3px solid;
          background-color: #dbdbdb;
          transition: transform 0.2s;
        }
        .titlenurse {
            background-color: #D9D9D9;
            display: flex;
            padding: 10px;
            padding-left: 15px;
            width: 100%;
            flex-direction: row;
            align-items: center;
        }
        form {
            background-color: #F5F5F5;
            padding: 20px;
            width: 500px;
        }
        .imgsection {
            display: flex;
            justify-content: flex-end;
            margin-left: auto; 
        }
        .subtitle {
            padding: 2%;
            background-color: black;
            color: white;
            width: 600px;
        }
        .container {
            flex-direction: column;
            display: flex;
        }
    </style>
</head>
<body>
<div class="titlenurse">
    <h1 class="">Lista de usuarios</h1>
    <div class="imgsection"><img src="https://cdn-icons-png.flaticon.com/512/33/33308.png" alt="Curso" style="width: 100px; height: 100px;"></div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>Teléfono</th> <!-- Nueva columna para teléfono -->
        </tr>
    </thead>
    <tbody>
    @foreach (var users in Model)
    {
        <tr class="animation">
            <td>@users.nombre</td>
            <td>@users.correoElectronico</td>
            <td>@users.cargo</td>
            <td>@users.telefono</td> <!-- Agrega el dato de teléfono aquí -->
        </tr>
    }
    </tbody>
</table>
</body>
</html>
