@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Utiliza este layout si tienes uno, o define null para no usar ningún layout
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #F5F5F5;
            background-size: cover;
            background-blend-mode: darken;
        }
        .animation:hover {
            transform: translateY(-2px);
            border-top: 6px solid ;
            transition: transform 0.2s;
        }
        .titlenurse {
            background-color: #D9D9D9;
            display: flex;
            padding: 10px;
            padding-left: 15px;
            width: 100%;
            flex-direction: row;
            align-items: center;
        }
        form {
            background-color: #F5F5F5;
            padding: 20px;
            width: 500px;
        }
        .imgsection {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
        }
        .subtitle {
            padding: 2%;
            background-color: black;
            color: white;
            width: 600px;
        }
        .container {
            flex-direction: column;
            display: flex;
        }
    </style>
</head>
<body>
<div class="titlenurse">
    <h1 class="">Cursos</h1>
    <div class="imgsection"><img src="https://cdn-icons-png.flaticon.com/512/6681/6681144.png" alt="Curso" style="width: 100px; height: 100px;"></div>
</div>

<div class="container mt-5">
    <div class="subtitle">¡Crear un curso nuevo!</div>
    <form method="post" id="testForm">
        <div class="mb-3">
            <label for="Diagnostico" class="form-label">Link del examen diagnostico</label>
            <input type="text" class="form-control" id="Diagnostico" name="Diagnostico" required>
            <div class="invalid-feedback">El link del examen diagnóstico es requerido.</div>
        </div>
        <div class="mb-3">
            <label for="Final" class="form-label">Link del examen Final</label>
            <input type="text" class="form-control" id="Final" name="Final" required>
            <div class="invalid-feedback">El link del examen final es requerido.</div>
        </div>
    </form>
    <form method="post" id="cursoForm" onsubmit="return validarFormulario()">
        <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre del curso</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" required>
            <div class="invalid-feedback">El nombre del curso es requerido.</div>
        </div>
        <div class="mb-3">
            <label for="Descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="Descripcion" name="Descripcion" required></textarea>
            <div class="invalid-feedback">La descripción es requerida.</div>
        </div>
        <button type="submit" class="btn btn-primary">Registrar curso</button>
    </form>
</div>
    <script>
        var valor = sessionStorage.getItem('UserRole');
        console.log("UserRole:" + valor);
        if (valor == 1) {
            console.log("eres user, fuera de aqui");
            window.location.href = "http://localhost:5053/Student/Index";
        }

        function validarFormulario() {
            var formulario = document.getElementById('cursoForm');
            var inputs = formulario.getElementsByTagName('input');
            var textareas = formulario.getElementsByTagName('textarea');
            var esValido = true;

            // Validar inputs
            for (var i = 0; i < inputs.length; i++) {
                if (!inputs[i].checkValidity()) {
                    inputs[i].classList.add('is-invalid');
                    esValido = false;
                } else {
                    inputs[i].classList.remove('is-invalid');
                }
            }

            // Validar textareas
            for (var i = 0; i < textareas.length; i++) {
                if (!textareas[i].checkValidity()) {
                    textareas[i].classList.add('is-invalid');
                    esValido = false;
                } else {
                    textareas[i].classList.remove('is-invalid');
                }
            }

            if (esValido) {
                submitCurso();
            }
            return false;
        }

        function submitCurso() {
            var curso = {
                Titulo: document.getElementById('Nombre').value,
                Descripcion: document.getElementById('Descripcion').value
            };

            fetch('http://localhost:5053/api/Cursos', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(curso)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                submitExamenFinal(data.cursoId);
                submitDiagnostico(data.cursoId);
                alert('Curso registrado con éxito!');
                limpiarFormulario();
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Error al registrar el curso');
            });
        }

        function submitExamenFinal(id) {
            var examenfinal = {
                Titulo: "Examen Final",
                CursoId: id,
                LinkExame: document.getElementById('Final').value
            };

            fetch('http://localhost:5053/api/Examenes', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(examenfinal)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('Examen final registrado con éxito!');
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Error al registrar el examen final');
            });
        }

        function submitDiagnostico(id) {
            var examendiagno = {
                Titulo: "Diagnostico",
                CursoId: id,
                LinkExame: document.getElementById('Diagnostico').value
            };

            fetch('http://localhost:5053/api/Examenes', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(examendiagno)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('Examen diagnóstico registrado con éxito!');
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Error al registrar el examen diagnóstico');
            });
        }

        function limpiarFormulario() {
            document.getElementById('cursoForm').reset();
            document.getElementById('testForm').reset();
            var inputs = document.querySelectorAll('input');
            var textareas = document.querySelectorAll('textarea');
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].classList.remove('is-invalid');
            }
            for (var i = 0; i < textareas.length; i++) {
                textareas[i].classList.remove('is-invalid');
            }
        }
    </script>
</body>
</html>
